#introduction {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    gap: 80px;

    header {
      margin-inline: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;

      #avatar {
        width: 112px;
        height: 112px;
        
        margin-bottom: 56px;
        position: relative;
        padding: 8px;
        
        img:nth-child(1) {
          border-radius: 50%;
          width: 87.87px;
          border: 3px solid var(--red);
        }

        img:nth-child(2) {
          position: absolute;
          bottom: 10px;
          right: 8px;
        }
      }

      #header-text {

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          margin-bottom: 20px;

          p {
            color: var(--gray-200);
            font: var(--subtitle);

            span {
              color: var(--red);
            }
          }

          h1 {
            font: var(--title-lg);
            color: var(--gray-100);
          }
        }

        #description {
          font: var(--text-sm);
          color: var(--gray-300);
          text-align: center;
          max-width: 680px;
        }

      }
    }

    #tags {
      display: flex;
      gap: 16px;

      .tag {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px 16px;
        background-color: var(--gray-400);
        border-radius: 999px;

        span {
          font: var(--text-md);
          color: var(--gray-200);
        }
      }
    }
  }

  #caret-double-down {
    width: 32px;
    height: 32px;
    margin-bottom: 57px;
    background-image: url(/assets/icons/CaretDoubleDown.svg);
  }
}

#projects {
  background-color: var(--gray-500);
  padding: 72px 120px 144px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

  header {
    
    p {
      font: var(--subtitle);
      color: var(--red);
      margin-bottom: 8px;
    }

    h2 {
      font: var(--title-md);
      color: var(--gray-100);
    }

    p, h2 {
      text-align: center;
    }
  }

  #project-cards {
    width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;

    .project-card {
      background-color: var(--gray-400);
      padding: 12px;
      border-radius: 12px;

      img {
        max-width: 306px;
        border-radius: 8px;
        margin-bottom: 20px;
      }

      figcaption {
        padding: 4px;

        h3 {
          font: var(--title-sm);
          color: var(--gray-100);
          margin-bottom: 8px;
        }

        p {
          font: var(--text-sm);
          color: var(--gray-200);
        }
      }
    }
  }
}
